@{
    @model CarRental.Models.CarViewModel
}
<style>
    div.imgexcell {
        background: url(/ExcelButton.png) no-repeat;
        width: 200px;
        height: 45px;
        float: right;
    }
</style>
<div class="AjaxLoader"><!-- Place at bottom of page --></div>
<div class="modal" id="UploadModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="AjaxLoader"><!-- Place at bottom of page --></div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload CAR</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("UploadCARBulk", "Home", null, FormMethod.Post, null, new { id = "UploadForm", enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <div class="form-line" id="UploadDiv">
                                    choose File :<input type="file" id="uploadfile" name="uploadfile" />
                                </div>
                                <span id="UploadFileError" style="margin-left:15px;color:red;font-weight:bold;"></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <a class="download" href="@Url.Content("~/SampleBulkUploadExcel.xlsx")">
                                    <div class="imgexcell" style="float: none;" title="Download Excell">
                                    </div>
                                    <p>Download Sample</p>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary" value="Upload" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            }

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10">
                    @Html.ActionLink("Add Car", "AddCar", "Home", null, new { @class = "btn btn-success", @style = "float:right" })
                </div>
                <div class="col-md-2">
                    <a class="download" id="BulkUploadBtn" href="javascript:void(0);">
                        <div class="imgexcell" style="float: none;" title="Download Excell">
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <form class="layui-form" asp-action="Get_Car_List_Search" data-ajax-begin="onBegin"
          data-ajax-success="onSuccess" data-ajax-update="#tbody" data-ajax="true" data-ajax-method="GET">
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    @Html.Label("Brand :")
                    @Html.DropDownListFor(model => model.Brand_Search, ViewBag.Brand as SelectList, "--select--", new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <input type="submit" id="SerachCARbtn" value="search" class="btn btn-primary" style="margin-top:30px;" />
                </div>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Type</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Photo</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="tbody">
            @if (Model != null && Model.Cars.Count > 0)
            {
                foreach (var item in Model.Cars)
                {
            <tr>
                <td>@item.Type.Title</td>
                <td>@item.BRAND</td>
                <td>@item.Price</td>
                @if (!string.IsNullOrWhiteSpace(item.Photo))
                {
                    <td><img src="@Url.Content("~/"+item.Photo)" alt="car img" style="width:100px;height:100px" /></td>
                }
                else
                {
                    <td>No File</td>
                }
                <td>
                    @Html.ActionLink("Edit", "AddCar", "Home", new { id = item.ID })|
                <a href="javascript:void(0);" data-id="@item.ID" class="deleteCar">delete</a>
            </td>
            </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6" style="text-align:center">
                        No records
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#BulkUploadBtn").click(function () {
                $('#UploadModal').modal('show');
            });
            $("form#UploadForm").submit(function (e) {
                e.preventDefault();
                let filename = $(this).find('input[type=file]').val().replace(/C:\\fakepath\\/i, '')
                if (!filename) {
                    $("#UploadFileError").text("please select File");
                    return false;
                }
                let ValidExtension = ["XLSX","XLS"];
                if (!ValidExtension.includes(filename.split('.').pop().toUpperCase())) {
                    $("#UploadFileError").text("Please Select Valid File Type (Allowed :" + ValidExtension.toString() + ")");
                    return false;
                }
                var formdata = new FormData($('form#UploadForm').get(0));
                $('#UploadModal').find(".AjaxLoader").show();
                $.ajax({
                    url: '@Url.Action("UploadCARBulk", "Home")',
                    type: 'POST',
                    data: formdata,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.data.status == "0") {

                                swal({
                                    title: "Success",
                                    text: "Uploaded successfully",
                                    type: "success",
                                    },
                                   function() {
                                       $("#SerachCARbtn").trigger("click");
                                });


                        }
                        else {
                            swal("Error!!", "An Error has Occured", "error");
                        }
                        $('#UploadModal').find(".AjaxLoader").hide();
                        $('#UploadModal').modal('hide');

                    }
                })
            })
            $("input[type=file]").change(function () {
                $("#UploadFileError").empty();
            });
            $('.modal').on('hidden.bs.modal', function (e) {
                $(this)
                    .find("input,textarea,select").not('input:submit')
                    .val('')
                    .end()
                $("[type=submit]").attr("disabled", false);
                $("#UploadFileError").empty();
            });
            $(document).on('click', '.deleteCar', function () {
                let CarId = $(this).data("id")
                swal({
                    title: "Are you sure?",
                    text: "Your will not be able to recover this!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                    function (e) {
                        if (e) {
                            $.ajax({
                            type: "POST",
                            url:'@Url.Action("DeleteCAR","Home")',
                            data: { Id: CarId  },
                            success: function (data) {
                                if (data.data.status == "0") {

                                    swal({
                                        title: "Success",
                                        text: "Deleted successfully",
                                        type: "success",
                                    },
                                        function () {
                                            $("#SerachCARbtn").trigger("click");
                                        });


                                }
                                else {
                                    swal({
                                        title: "Error",
                                        text: data.data.msg,
                                        type: "error",
                                    },
                                        function () {
                                            $("#SerachCARbtn").trigger("click");
                                        });
                                }
                            }
                        })
                        }

                    });
            })
        })
        function onBegin() {
            $(".AjaxLoader").show();
        }
        function onSuccess(data) {
            $(".AjaxLoader").hide();
        }
    </script>
}